@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }

  .scroll-smooth {
    scroll-behavior: smooth;
  }

  .hide-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }

  .scrollbar-thin {
    scrollbar-width: thin;
  }

  .scrollbar-thumb-muted-foreground\/10 {
    scrollbar-color: rgba(156, 163, 175, 0.1) transparent;
  }

  .scrollbar-thumb-muted-foreground\/20::-webkit-scrollbar-thumb {
    background-color: rgba(156, 163, 175, 0.2);
  }

  .hover\:scrollbar-thumb-muted-foreground\/20:hover::-webkit-scrollbar-thumb {
    background-color: rgba(156, 163, 175, 0.2);
  }

  .py-safe {
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

html {
  font-size: 16px; /* Increase this value to make everything bigger, e.g., 18px or 20px */
}
